body {
    background-color: #49A351; 
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #7ED957; 
    color: white;
    padding: 10px; 
    text-align: center; 
    font-family: sans-serif;
    font-size: 12px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}
nav {
    background-color: #90E4C2; 
    border-radius: 8px; 
    padding: 8px; 
    text-align: center; 
    margin-top: 20px; 
}

nav ul {
    list-style: none;
    display: inline;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}
.company-info {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    margin-right: 20px;
}

.main-content {
    display: flex;
    align-items: center;
}

.text-content {
    text-align: center;
    margin-right: 20px;
}

.main-content img {
    width: 300px; /* Set the width of the image as needed */
}
footer{
    text-align: center;
    font-size: 9px;
}
a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
