body {
    background-color: #008000; 
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #7cfc00; 
    color: white;
    padding: 1rem 0.5rem; 
    text-align: center; 
    font-family: sans-serif;
    font-size: 30px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}
nav {
    background-color: #e0ffff; 
    border-radius: 15px; 
    padding: 8px; 
    text-align: center; 
    margin-top: 20px; 
}

nav ul {
    list-style: none;
    display: inline;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}
footer{
    text-align: center;
    font-size: 9px;
}
a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
