body {
    background-color: #49A351; 
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
body, html {
    height: 100%;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}
header {
    background-color: #7ED957; 
    color: white;
    padding: 10px; 
    text-align: center; 
    font-family: sans-serif;
    font-size: 12px;
}
.container {
    min-height: 100vh; /* Set minimum height of container to 100% viewport height */
    display: flex;
    flex-direction: column;
}
nav {
    background-color: #4CAF50; 
    border-radius: 15px;
    text-align: center; 
    margin-top: 20px; 
    padding: 6px 10px; 
}

nav ul {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: black; 
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}
.company-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.left-content {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    margin-right: 20px;
}

.main-content {
    text-align: center;
}
a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
