body {
    background-image: url('https://w0.peakpx.com/wallpaper/115/408/HD-wallpaper-iceberg-minimalist-thumbnail.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
}

/* Styling the heading (h1) */
h1 {
    text-align: center;
    background-color: #FF5733;
    font-family: 'Comic Sans', sans-serif;
    border: 2px dotted blue;
    padding: 10px 15px;
    width: 250px;
    margin: 20px; /* Centered with 20px margin at the bottom */
}

/* Styling the paragraph (p) */
p {
    width: 500px;
    background-color: hsl(120, 100%, 50%);
    padding: 20px;
    border-top: 3px solid black;
    border-right: 3px dashed black;
    border-bottom: 3px double black;
    border-left: 3px dotted black;
    text-align: justify;
    font-style: italic;
}

/* Styling the span element */
span {
    font-weight: bold;
    font-style: italic;
    color: rgb(0, 0, 255); /* Blue in RGB format */
    margin: 2px;
    margin-left: 5px;
    margin-right: 5px;
}
